{
    "openapi": "3.0.3",
    "info": {
        "title": "Turtlefin OneAPI Platform (v2 - 2.2.0)",
        "version": "2.2.0",
        "description": "## Introduction\n\nThis document describes the API resources available to promote Turtlefin OneAPI Platform insurance products on your own website.\n\nThe Turtlefin OneAPI Platform API adheres to the principles of REST architecture. It is user-friendly: logically organized resource-oriented URLs and HTTP status codes are used to indicate success or failure.\n\n## Authentication\n\nAll requests must include an `Authorization` header with a signed token.\n\nTo obtain an API key and signing key, sign up on the [Developer Portal](https://developers.turtlefin.com/docs/login).\n\nExample JavaScript usage:\n\n```javascript\nvar myHeaders = new Headers();\nmyHeaders.append(\"Authorization\", \"Bearer [YOUR_AUTH_TOKEN]\");\n\nvar requestOptions = {  method: 'GET',\n  headers: myHeaders,\n  redirect: 'follow'\n};\n\nfetch(\"https://app.skyfall.turtle-feature.com/api/minterprise/v1/products/travel/lookups/productDetails?search=travel\", requestOptions)  .then(response => response.text())\n  .then(result => console.log(result))\n  .catch(error => console.log('error', error));\n```\n\n## Error Codes\n\nThe API uses standard HTTP response codes to indicate request outcomes:\n\n| Status Code | Description |\n|-------------|-------------|\n| 200 OK | Everything worked as expected. |\n| 201 Created | New resource successfully created. |\n| 400 Bad Request | Invalid request format or parameters. |\n| 401 Unauthorized | Missing or invalid API key. |\n| 402 Request Failed | Valid parameters, but the request failed. |\n| 404 Not Found | Requested resource not found. |\n| 409 Conflict | Conflict with another request (e.g., duplicate idempotency key). |\n| 422 Unprocessable Entity | Validation or logical error. |\n| 429 Too Many Requests | Rate limit exceeded. Use exponential back-off. |\n| 5xx Server Errors | Internal error on the platform. These are rare. |\n"
    },
    "servers": [
        {
            "url": "https://app.sanity.turtle-feature.com",
            "description": "Stage"
        },
        {
            "url": "https://app.skyfall.turtle-feature.com",
            "description": "Staging"
        },
        {
            "url": "https://app.gravity.turtle-feature.com",
            "description": "Development"
        },
        {
            "url": "https://app.hamilton.turtle-feature.com",
            "description": "UAT"
        }
    ],
    "paths": {
        "/api/minterprise/v1/token/issue": {
            "get": {
                "tags": [
                    "Authentication APIs"
                ],
                "x-visibility": [
                    "private",
                    "public"
                ],
                "x-tags": [
                    "utility"
                ],
                "summary": "Issue Token",
                "description": "You have to pass <b>API Key</b> and <b>API Secret</b> to generate the token.\r\n\r\n This is based on <b>Basic Auth</b> type of Authorization where <b>API Key will be passed to Username</b> & <b>API Secret as an Password.</b>\r\n\r\n In response, you will get <b>access_token</b>, used this value as an <b>Authorization token</b>.\r\n\r\n Please use default <b>Authorization tab</b> for same.",
                "operationId": "issueToken",
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "x-tenant",
                        "in": "header",
                        "description": "tenant name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "turtlefin"
                        }
                    },
                    {
                        "name": "x-broker",
                        "in": "header",
                        "description": "broker name",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "turtlemint"
                        }
                    },
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "registered user id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-enc-api-key",
                        "in": "header",
                        "description": "encrypted jwt token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/issueTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid resource supplied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/issueTokenErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/invalidResourceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/internalServerErrorResponse"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "body"
            }
        },
        "/api/minterprise/v1/login/public/otp/{mobileNumber}": {
            "get": {
                "tags": [
                    "Authentication APIs"
                ],
                "x-visibility": [
                    "private",
                    "public"
                ],
                "x-tags": [
                    "utility"
                ],
                "summary": "Request OTP for Mintpro Login",
                "description": "Send One-Time Password (OTP) to the provided mobile number for user authentication. This endpoint initiates the login process by generating and sending a verification code to the user's registered mobile number.",
                "operationId": "triggerOtpToAutnhenticateUser",
                "parameters": [
                    {
                        "name": "mobileNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 6999912345
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/otpLoginResponse"
                                },
                                "examples": {
                                    "DEFAULT": {
                                        "value": {
                                            "data": {
                                                "status": "SUCCESS",
                                                "userName": "NA",
                                                "sessionId": "685296be525c009e3ba4beb8",
                                                "statusCode": 200,
                                                "newPartner": false
                                            },
                                            "meta": {
                                                "status": "SUCCESS",
                                                "error": false,
                                                "traceId": "6852c9677c9d00d351d5a59a84bfd576",
                                                "timestamp": "2025-06-18T19:42:55.386780"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid resource supplied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/issueTokenErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/invalidResourceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/internalServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/minterprise/v1/login/public/otp/{mobileNumber}/verify": {
            "get": {
                "tags": [
                    "Authentication APIs"
                ],
                "x-visibility": [
                    "private",
                    "public"
                ],
                "x-tags": [
                    "utility"
                ],
                "summary": "Verify OTP for Mintpro Login",
                "description": "Verify the One-Time Password (OTP) sent to the user's mobile number to complete the authentication process. This endpoint validates the OTP and session ID to authenticate the user and provide access to the system.",
                "operationId": "verifyOtpToAuthenticateUser",
                "parameters": [
                    {
                        "name": "mobileNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 6999912345
                    },
                    {
                        "name": "sessionId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "685296be525c009e3ba4beb8"
                    },
                    {
                        "name": "otp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": 1234
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/otpLoginVerifyResponse"
                                },
                                "examples": {
                                    "DEFAULT": {
                                        "value": {
                                            "data": {
                                                "status": "SUCCESS",
                                                "action": "authenticate",
                                                "userName": "61cd8d268ce2146c4da13d57",
                                                "name": "test",
                                                "email": "t@t.com",
                                                "experienceCategory": "EXPERIENCED",
                                                "category": "partner",
                                                "_id": "61cd8d268ce2146c4da13d57",
                                                "mobile": "6999912345",
                                                "partnerId": "61cd8d268ce2146c4da13d57",
                                                "statusCode": 200,
                                                "attempt": 5,
                                                "attemptAllowed": 5,
                                                "token": "0abacef79bb3c3deeb29733ba90fe17acff8901dd30b08d7961adc1d152661cb2145f1151984e4e65e82791a5a622d7c",
                                                "newPartner": false,
                                                "sid": "6852c945a68a1212c8410730"
                                            },
                                            "meta": {
                                                "status": "SUCCESS",
                                                "error": false,
                                                "traceId": "6852c9677c9d00d351d5a59a84bfd576",
                                                "timestamp": "2025-06-18T19:42:55.386780"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid resource supplied",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/issueTokenErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/invalidResourceErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/internalServerErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/minterprise/v1/products/{productCode}/lookups/{resourceCode}": {
            "get": {
                "tags": [
                    "Lookup APIs (Masters)"
                ],
                "x-visibility": [
                    "public",
                    "private"
                ],
                "x-tags": [
                    "utility"
                ],
                "summary": "Get Master Details By Resource Name",
                "description": "Retrieve master data and lookup information for various insurance-related resources. This endpoint provides reference data such as RTO codes, vehicle details, city lists, insurer information, and other master data required for insurance applications.",
                "operationId": "getMasterDataByResourceCode",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "Authorization token",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "You don't need to pass the authorization token here. it'll passed by default from authorize section."
                        }
                    },
                    {
                        "name": "x-tenant",
                        "in": "header",
                        "description": "tenant name",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "turtlemint"
                        }
                    },
                    {
                        "name": "x-broker",
                        "in": "header",
                        "description": "broker name",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "turtlemint"
                        }
                    },
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "user id or customer id",
                        "schema": {
                            "type": "string",
                            "default": "TES1585925"
                        }
                    },
                    {
                        "name": "x-partner-id",
                        "in": "header",
                        "description": "partner id",
                        "schema": {
                            "type": "string",
                            "default": "61cd8d268ce2146c4da13d57"
                        }
                    },
                    {
                        "name": "productCode",
                        "in": "path",
                        "description": "Product codes :\n  * `bike` - Bike\n  * `private-car` - Private Car\n  * `wellness`- Wellness\n  * `roadside-assistance` - Roadside Assistance\n  * `mobile` - Mobile\n  * `credit-life`- Credit Life\n  * `travel`- Travel\n  * `lifestyle`-Lifestyle\n",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bike",
                                "private-car",
                                "wellness",
                                "roadside-assistance",
                                "mobile",
                                "credit-life",
                                "travel",
                                "lifestyle"
                            ],
                            "default": "bike"
                        }
                    },
                    {
                        "name": "resourceCode",
                        "in": "path",
                        "description": "The resources that needs to be fetched.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "rto",
                                "vehicleMakeModel",
                                "vehicleVariant",
                                "cityList",
                                "insurers",
                                "salutation",
                                "nominee",
                                "productDetails",
                                "medicalQuestions",
                                "getPlansByPincode"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "<b>url-encoded query parameters. E.g.</b> <style>td,th{border: 1px solid  #cccccc; padding: 2px;} </style> <table> <tr> <td><b>Resource</b></td> <td><b>Model</b></td> <td><b>Example</b></td> </tr> <tr> <td>rto</td> <td>-</td> <td>mh01</td> </tr> <tr> <td>vehicleMakeModel</td> <td>-</td> <td>Hyunda</td> </tr> <tr> <td>vehicleVariant</td> <td>make (string),<br> model (string)<br><br>OR<br><br> makeModelId (string)<br><br></td> <td>make=Hyundai&model=i20<br><br>OR<br><br>makeModelId=155<br><br>Get this ID from vehicleMakeModel resource call<br><br></td> </tr> <tr> <td>cityList</td> <td>pincode (string),<br> search (string),<br> insurerCode (string)<br><br>OR<br><br> - <br><br></td> <td>pincode=411007&search=411007&insurerCode=HDFC<br><br><br>OR<br><br><br>400001<br>Get city by pincode (applicable only for Health & Personal Accident products)</td> </tr> <tr> <td>insurers</td> <td>-</td> <td>-</td> </tr> <tr> <td>salutation</td> <td>insurerCode (string)<br><br></td> <td>insurerCode=HDFC</td> </tr> <tr> <td>nominee</td> <td>insurerCode (string),<br> maritalStatus (string)<br><br></td> <td>insurerCode=HDFC&maritalStatus=MARRIED</td> </tr> <!-- tr> <td>plans</td> <td>referenceId(string) <br/> planId(string) <br> bucketName(string)</td> <td>referenceId=AGIGQW9RXP1&planId=HSS&bucketName=self</td> </tr--> <tr> <td>productDetails</td> <td>-</td> <td>travel</td> </tr> <tr> <td>medicalQuestions</td> <td>insurerCode(String)</td> <td>&insurerCode=KOTAK (available only for credit-life)</td> </tr> <!-- tr> <td>vehicleDetails</td> <td>-</td> <td>MH12GD3057</td> </tr--> </table>",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "MH01"
                        }
                    },
                    {
                        "name": "pincode",
                        "in": "query",
                        "description": "Wellness plans that need to be fetched for the given pincode",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 411001
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/lookupResponse"
                                },
                                "examples": {
                                    "rto": {
                                        "value": {
                                            "data": [
                                                {
                                                    "rtoCode": "MH12",
                                                    "city": "Pune",
                                                    "rtoPlate": "MH-12-Pune"
                                                }
                                            ],
                                            "meta": {
                                                "error": false
                                            }
                                        }
                                    },
                                    "vehicleMakeModel": {
                                        "value": {
                                            "data": [
                                                {
                                                    "make": "Bajaj",
                                                    "model": "Avenger"
                                                },
                                                {
                                                    "make": "Bajaj",
                                                    "model": "Avenger DTSI"
                                                }
                                            ],
                                            "meta": {
                                                "error": false
                                            }
                                        }
                                    },
                                    "vehicleVariant": {
                                        "value": {
                                            "data": [
                                                {
                                                    "_id": "10879",
                                                    "make": "Hyundai",
                                                    "model": "i10",
                                                    "fuel": "Petrol",
                                                    "cc": 1197,
                                                    "variant": "GLS Aata With Sunroof (1197 CC)"
                                                },
                                                {
                                                    "_id": "10770",
                                                    "make": "Hyundai",
                                                    "model": "i10",
                                                    "fuel": "Petrol",
                                                    "cc": 1197,
                                                    "variant": "Magna (1197 CC)"
                                                }
                                            ],
                                            "meta": {
                                                "error": false
                                            }
                                        }
                                    },
                                    "insurers": {
                                        "value": {
                                            "data": [
                                                {
                                                    "_id": "ACKO",
                                                    "name": "Acko General Insurance"
                                                },
                                                {
                                                    "_id": "BAJAJ",
                                                    "name": "Bajaj Allianz"
                                                }
                                            ],
                                            "meta": {
                                                "error": false
                                            }
                                        }
                                    },
                                    "travel": {
                                        "value": {
                                            "data": {
                                                "id": 8,
                                                "name": "TRAVEL INSURANCE",
                                                "version": 12,
                                                "productCode": "travel",
                                                "metaInfo": "Worldwide emergency medical expenses up to USD 1 million;COVID-19 cover included;24-hours worldwide medical and travel emergency services;Worldwide personal liability of USD 1 million;Lost and Delayed Baggage cover included;Trip cancelation and curtailment benefits",
                                                "externalUniqueId": "travel externalUniqueId",
                                                "landingUrl": "travel landingUrl",
                                                "brands": [
                                                    {
                                                        "id": 6,
                                                        "name": "RSA",
                                                        "version": 7,
                                                        "code": "RSA",
                                                        "mailId": "travelclaims@ae.rsagroup.com",
                                                        "phone": "+971 46018777",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "metaInfo": "",
                                                        "termsAndConditions": "https://bankfab.static.uat.turtlefin.com/files/static/brochures/RSA_Travel_Insurance_Policy_TC_English_Arabic.pdf",
                                                        "claimForm": "https://bankfab.static.uat.turtlefin.com/files/static/tnc/Travel_Claim_Form.pdf"
                                                    }
                                                ],
                                                "businessCategory": {
                                                    "id": 1,
                                                    "name": "Insurance",
                                                    "version": 0
                                                },
                                                "businessSubCategory": {
                                                    "id": 5,
                                                    "name": "Travel",
                                                    "version": 0,
                                                    "businessCategory": {
                                                        "id": 1
                                                    }
                                                },
                                                "productType": {
                                                    "id": 7,
                                                    "name": "Travel insurance policy",
                                                    "version": 0,
                                                    "businessSubCategory": {
                                                        "id": 5
                                                    }
                                                },
                                                "productSubType": {
                                                    "id": 7,
                                                    "name": "Travel Product Sub Type",
                                                    "version": 0,
                                                    "productType": {
                                                        "id": 7
                                                    }
                                                },
                                                "marketStatus": 1,
                                                "isIntegrated": true,
                                                "isPosp": false,
                                                "isEnabled": true,
                                                "createdDate": "2023-01-04T06:12:07.241+0000",
                                                "lastModifiedDate": "2023-06-23T13:58:07.554+0000",
                                                "variants": [
                                                    {
                                                        "id": 15,
                                                        "metaInfo": "Emergency medical expenses – up to USD 1,000,000;Passport, Travel Documents, Personal Money, and CreditCard Fraud – up to USD 750;Accidental death and permanent total disability – USD 35,000;Accidental death due to common carrier – USD 10,000;Personal liability – up to USD 1,000,000;Cancelling your trip/Cutting your trip short – up to USD 5,000;Delayed Baggage – USD 100 per hour up to USD 1,000;Personal Belongings and Baggage – up to USD 6,000;Pet care – up to USD 300;",
                                                        "variantCode": "EXECUTIVE",
                                                        "product": {
                                                            "id": 8
                                                        },
                                                        "otherProperties": {
                                                            "id": 1,
                                                            "variant": {
                                                                "id": 15
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 2,
                                                                    "metaInfo": "Emergency Medical Expenses including emergency dental treatment;Overseas rehabilitation allowance;Emergency Medical Evacuation and or Repatriation;Repatriation of Mortal Remains;Cover of US$ 1,000,000 for above expenses;Hospital allowance - US$ 300 per day up to US$ 1,500;Compassionate visit of close relative - US$ 1,500;Dependent Child Protection - US$ 1,500;Emergency Telephone Charges - US$ 100",
                                                                    "title": "Medical and Related Expenses",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Medical_and_Related_Expenses.png",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 1,
                                                                    "metaInfo": "Cancelling your trip/Cutting your trip short - US$ 5,000;Missed Departure & Connections - US$ 1,000;Travel Delay/Abandoning Your Trip - US$ 100 per 6 hours up to US$ 500;Personal Belongings and Baggage - US$ 6,000 (Valuables US$ 1,500);Delayed Baggage (Reimbursement of actual costs incurred) - US$ 100 per hour up to US$ 1,000;Passport, Travel Documents, Personal Money, and Credit Card Fraud - US$ 750;Home contents burglary-whilst travelling - US$ 1,500;Bail Bond Facility (including advance of bail bond) - US$ 5,000;Pet Care - US$ 300;Hijack - US$ 100 per 24 hours up to US$ 5,000",
                                                                    "title": "Travel Inconvenience Cover",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Travel_Inconvenience_Cover.png",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 3,
                                                                    "metaInfo": "Accidental death and permanent total disability benefit - US$ 35,000;Accidental death due to common carrier - US$ 10,000;Comatose state lumpsum benefit - US$ 2,500;Simple and other fractures - US$ 1,500;Funeral benefits - US$ 1,500",
                                                                    "title": "Accident and Death Benefits",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Accident_and_Death_Benefits.png",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 4,
                                                                    "metaInfo": "Personal Liability - US$ 1,000,000;Legal Expenses - US$ 50,000",
                                                                    "title": "Liability and Legal Expenses",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Liability_and_Legal_Expenses.png",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": [
                                                                {
                                                                    "id": 1,
                                                                    "metaInfo": "Golf Equipment – US$ 500;Golf Equipment Hire – US$ 50 per day up to US$ 500;Green Fees – US$ 500",
                                                                    "title": "Golf cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "GOLF_SPORT",
                                                                    "couponType": "LOADING",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 2,
                                                                    "metaInfo": "Winter Sports Equipment – US$ 500;Ski Hire – US$ 50 per day up to US$ 500;Ski Pack – US$ 500;Piste Closure – US$ 50 per day up to US$ 500",
                                                                    "title": "Winter sports cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "WINTER_SPORT",
                                                                    "couponType": "LOADING",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 3,
                                                                    "metaInfo": "Missed Port Departure – US$ 1,000;Cabin Confinement – US$ 300 per day up to US$ 1,000;Unused Excursions – US$ 500;Itinerary Change – US$ 250 per port up to US$ 500;Cruise Interruption – US$ 1,000",
                                                                    "title": "Cruise cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "CRUISE_COVER",
                                                                    "couponType": "ADDON",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                },
                                                                {
                                                                    "id": 4,
                                                                    "metaInfo": "US$ 100,000",
                                                                    "title": "Terrorism cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "TERRORISM",
                                                                    "couponType": "ADDON",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 1
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "title": "",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    },
                                                    {
                                                        "id": 13,
                                                        "metaInfo": "Emergency medical expenses – up to Euro 30,000;Passport, Travel Documents, Personal Money, and CreditCard Fraud – up to Euro 350;Accidental death and permanent total disability – Euro 10,000;",
                                                        "variantCode": "SCHENGEN",
                                                        "product": {
                                                            "id": 8
                                                        },
                                                        "otherProperties": {
                                                            "id": 2,
                                                            "variant": {
                                                                "id": 13
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 6,
                                                                    "metaInfo": "Emergency Medical Expenses including emergency dental treatment;Overseas rehabilitation allowance;Emergency Medical Evacuation and/or Repatriation;Repatriation of Mortal Remains;Cover of Euro 30,000 for above expenses",
                                                                    "title": "Medical and Related Expenses",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Medical_and_Related_Expenses.png",
                                                                    "otherProperties": {
                                                                        "id": 2
                                                                    }
                                                                },
                                                                {
                                                                    "id": 5,
                                                                    "metaInfo": "Passport, Travel Documents, Personal Money and Credit Card Fraud – Euro 350",
                                                                    "title": "Travel Inconvenience Cover",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Travel_Inconvenience_Cover.png",
                                                                    "otherProperties": {
                                                                        "id": 2
                                                                    }
                                                                },
                                                                {
                                                                    "id": 7,
                                                                    "metaInfo": "Accidental death and permanent total disability benefit - Euro 10,000",
                                                                    "title": "Accident and Death Benefits",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Accident_and_Death_Benefits.png",
                                                                    "otherProperties": {
                                                                        "id": 2
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": []
                                                        },
                                                        "title": "",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    },
                                                    {
                                                        "id": 14,
                                                        "metaInfo": "Emergency medical expenses – up to USD 1,000,000;Passport, Travel Documents, Personal Money, and Credit Card Fraud – up to USD 500;Accidental death and permanent total disability – USD 30,000; Personal liability – up to USD 1,000,000;Cancelling your trip/Cutting your trip short – up to USD 5,000;Delayed Baggage – USD 100 per hour up to USD 500;Personal Belongings and Baggage – up to USD 5,000;",
                                                        "variantCode": "HOLIDAY",
                                                        "product": {
                                                            "id": 8
                                                        },
                                                        "otherProperties": {
                                                            "id": 3,
                                                            "variant": {
                                                                "id": 14
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 8,
                                                                    "metaInfo": "Cancelling your trip/Cutting your trip short - US$ 5,000;Missed Departure & Connections - US$ 500;Travel Delay/Abandoning Your Trip - US$ 100 per 6 hours up to US$ 500;Personal Belongings and Baggage - US$ 5,000 (Valuables US$ 1,500);Delayed Baggage (Reimbursement of actual costs incurred) - US$ 100 per hour up to US$ 500;Passport, Travel Documents, Personal Money, and Credit Card Fraud - US$ 500;Home contents burglary-whilst travelling - US$ 1,000;Bail Bond Facility (including advance of bail bond) - US$ 5,000",
                                                                    "title": "Travel Inconvenience Cover",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Travel_Inconvenience_Cover.png",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 10,
                                                                    "metaInfo": "Accidental death and permanent total disability benefit - US$ 30,000;Comatose state lumpsum benefit - US$ 1,500;Simple and other fractures - US$ 1,000;Funeral benefits - US$ 1,000",
                                                                    "title": "Accident and Death Benefits",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Accident_and_Death_Benefits.png",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 11,
                                                                    "metaInfo": "Personal Liability - US$ 1,000,000;Legal Expenses - US$ 50,000",
                                                                    "title": "Liability and Legal Expenses",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Liability_and_Legal_Expenses.png",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 9,
                                                                    "metaInfo": "Emergency Medical Expenses including emergency dental treatment;Overseas rehabilitation allowance;Emergency Medical Evacuation and/or Repatriation;Repatriation of Mortal Remains;Cover of US$ 1,000,000 for above expenses;Hospital allowance - US$ 300 per day up to US$ 1,500;Compassionate visit of close relative - US$ 1,000;Dependent Child Protection - US$ 1,000;Emergency Telephone Charges - US$ 100",
                                                                    "title": "Medical and Related Expenses",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Medical_and_Related_Expenses.png",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": [
                                                                {
                                                                    "id": 5,
                                                                    "metaInfo": "Golf Equipment – US$ 500;Golf Equipment Hire – US$ 50 per day up to US$ 500;Green Fees – US$ 500",
                                                                    "title": "Golf cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "GOLF_SPORT",
                                                                    "couponType": "LOADING",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 6,
                                                                    "metaInfo": "Winter Sports Equipment – US$ 500;Ski Hire – US$ 50 per day up to US$ 500;Ski Pack – US$ 500;Piste Closure – US$ 50 per day up to US$ 500",
                                                                    "title": "Winter sports cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "WINTER_SPORT",
                                                                    "couponType": "LOADING",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 7,
                                                                    "metaInfo": "Missed Port Departure – US$ 1,000;Cabin Confinement – US$ 300 per day up to US$ 1,000;Unused Excursions – US$ 500;Itinerary Change – US$ 250 per port up to US$ 500;Cruise Interruption – US$ 1,000",
                                                                    "title": "Cruise cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "CRUISE_COVER",
                                                                    "couponType": "ADDON",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                },
                                                                {
                                                                    "id": 8,
                                                                    "metaInfo": "US$ 100,000",
                                                                    "title": "Terrorism cover",
                                                                    "logoUrl": "",
                                                                    "couponCode": "TERRORISM",
                                                                    "couponType": "ADDON",
                                                                    "description": "",
                                                                    "otherProperties": {
                                                                        "id": 3
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "title": "",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    }
                                                ],
                                                "collateral": [
                                                    {
                                                        "id": 5,
                                                        "identifier": "brochure",
                                                        "name": "Travel Insurance ebrochure",
                                                        "collateralType": "PDF",
                                                        "metaInfo": "metaInfo",
                                                        "product": {
                                                            "id": 8
                                                        },
                                                        "brand": {
                                                            "id": 6
                                                        }
                                                    }
                                                ]
                                            },
                                            "meta": {
                                                "status": "SUCCESS",
                                                "error": false
                                            }
                                        }
                                    },
                                    "lifestyle": {
                                        "value": {
                                            "data": {
                                                "id": 9,
                                                "name": "LIFESTYLE PROTECT PLUS",
                                                "version": 4,
                                                "productCode": "lifestyle",
                                                "metaInfo": "Job Loss - up to AED 13,500;House Rent - up to AED 105,000;School Fees - up to AED 31,500 per child;Lumpsum upon Accidental Death - AED 300,000",
                                                "externalUniqueId": "lifestyle externalUniqueId",
                                                "landingUrl": "lifestyle landingUrl",
                                                "brands": [
                                                    {
                                                        "id": 7,
                                                        "name": "RSA_LSP",
                                                        "version": 0,
                                                        "code": "RSA_LSP",
                                                        "mailId": "lspclaims@ae.rsagroup.com",
                                                        "phone": "+971 46018777",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "metaInfo": "",
                                                        "termsAndConditions": "https://bankfab.static.uat.turtlefin.com/files/static/brochures/RSA_Lifestyle_Protect_Plus_Policy_TCs_English_Arabic.pdf",
                                                        "claimForm": "https://bankfab.static.uat.turtlefin.com/files/static/tnc/Travel_Claim_Form.pdf"
                                                    }
                                                ],
                                                "businessCategory": {
                                                    "id": 1,
                                                    "name": "Insurance",
                                                    "version": 0
                                                },
                                                "businessSubCategory": {
                                                    "id": 6,
                                                    "name": "Lifestyle",
                                                    "version": 0,
                                                    "businessCategory": {
                                                        "id": 1
                                                    }
                                                },
                                                "productType": {
                                                    "id": 8,
                                                    "name": "Lifestyle Insurance policy",
                                                    "version": 0,
                                                    "businessSubCategory": {
                                                        "id": 6
                                                    }
                                                },
                                                "productSubType": {
                                                    "id": 8,
                                                    "name": "Lifestyle Product Sub Type",
                                                    "version": 0,
                                                    "productType": {
                                                        "id": 8
                                                    }
                                                },
                                                "marketStatus": 1,
                                                "isIntegrated": true,
                                                "isPosp": false,
                                                "isEnabled": true,
                                                "createdDate": "2023-08-09T12:12:10.828+0000",
                                                "lastModifiedDate": "2023-08-09T12:57:23.685+0000",
                                                "variants": [
                                                    {
                                                        "id": 16,
                                                        "metaInfo": "Job Loss - up to AED 3,000;House Rent - up to AED 9,000;School Fees - up to AED 3,000 per child;Lumpsum upon Accidental Death - AED 70,000",
                                                        "variantCode": "BRONZE",
                                                        "product": {
                                                            "id": 9
                                                        },
                                                        "otherProperties": {
                                                            "id": 4,
                                                            "variant": {
                                                                "id": 16
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 12,
                                                                    "metaInfo": "(1,000 Per month up to a maximum of 3 months) up to AED 3,000",
                                                                    "title": "Essential cash due to involuntary loss of employment",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_cash_due_to_involuntary_loss_of_employment.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 13,
                                                                    "metaInfo": "Cover up to AED 70,000",
                                                                    "title": "Accidental Death Benefit",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Benefit_upon_Accidental_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 14,
                                                                    "metaInfo": "(3,000 Per month up to a maximum of 3 months) – up to AED 9,000",
                                                                    "title": "House Rent",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/House_rent.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 15,
                                                                    "metaInfo": "(1,000 per child per month up to a max of 3 months, max 3 children) – up to AED 3,000",
                                                                    "title": "School Fees",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/School_fees.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 16,
                                                                    "metaInfo": "(1,250 Per month up to a maximum of 3 months) – up to AED 3,750",
                                                                    "title": "Utility Bills",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Utility_bills.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 17,
                                                                    "metaInfo": "(1,250 Per month up to a maximum of 3 months) – up to AED 3,750",
                                                                    "title": "Essential Cash Due to Death",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_Cash_Due_to_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 18,
                                                                    "metaInfo": "Cover up to AED 2,500",
                                                                    "title": "Cargo for Shipping Personal things to Home Country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Cargo_for_shipping_personal_belongings_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 19,
                                                                    "metaInfo": "Cover up to AED 2,500",
                                                                    "title": "Flying mortal remains to home country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Flying_mortal_remains_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                },
                                                                {
                                                                    "id": 20,
                                                                    "metaInfo": "Covered",
                                                                    "title": "Second medical opinion",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Second_medical_opinion.png",
                                                                    "otherProperties": {
                                                                        "id": 4
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": []
                                                        },
                                                        "title": "AED 367.50 (incl. VAT)",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    },
                                                    {
                                                        "id": 17,
                                                        "metaInfo": "Job Loss - up to AED 6,000;House Rent - up to AED 18,000;School Fees - up to AED 4,500 per child;Lumpsum upon Accidental Death - AED 140,000",
                                                        "variantCode": "SILVER",
                                                        "product": {
                                                            "id": 9
                                                        },
                                                        "otherProperties": {
                                                            "id": 5,
                                                            "variant": {
                                                                "id": 17
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 21,
                                                                    "metaInfo": "(2,000 Per month up to a maximum of 3 months) up to AED 6,000",
                                                                    "title": "Essential cash due to involuntary loss of employment",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_cash_due_to_involuntary_loss_of_employment.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 22,
                                                                    "metaInfo": "Cover up to AED 140,000",
                                                                    "title": "Accidental Death Benefit",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Benefit_upon_Accidental_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 23,
                                                                    "metaInfo": "(6,000 Per month up to a maximum of 3 months) – up to AED 18,000",
                                                                    "title": "House Rent",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/House_rent.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 24,
                                                                    "metaInfo": "(1,500 per child per month up to a max of 3 months, max 3 children) – up to AED 4,500",
                                                                    "title": "School Fees",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/School_fees.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 25,
                                                                    "metaInfo": "(2,500 Per month up to a maximum of 3 months) – up to AED 7,500",
                                                                    "title": "Utility Bills",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Utility_bills.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 26,
                                                                    "metaInfo": "(2,500 Per month up to a maximum of 3 months) – up to AED 7,500",
                                                                    "title": "Essential Cash Due to Death",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_Cash_Due_to_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 27,
                                                                    "metaInfo": "Cover up to AED 5,000",
                                                                    "title": "Cargo for Shipping Personal things to Home Country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Cargo_for_shipping_personal_belongings_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 28,
                                                                    "metaInfo": "Cover up to AED 5,000",
                                                                    "title": "Flying mortal remains to home country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Flying_mortal_remains_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                },
                                                                {
                                                                    "id": 29,
                                                                    "metaInfo": "Covered",
                                                                    "title": "Second medical opinion",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Second_medical_opinion.png",
                                                                    "otherProperties": {
                                                                        "id": 5
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": []
                                                        },
                                                        "title": "AED 617.40 (incl. VAT)",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    },
                                                    {
                                                        "id": 18,
                                                        "metaInfo": "Job Loss - up to AED 10,500;House Rent - up to AED 36,000;School Fees - up to AED 7,500 per child;Lumpsum upon Accidental Death - AED 220,000",
                                                        "variantCode": "GOLD",
                                                        "product": {
                                                            "id": 9
                                                        },
                                                        "otherProperties": {
                                                            "id": 6,
                                                            "variant": {
                                                                "id": 18
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 36,
                                                                    "metaInfo": "Cover up to AED 7,500",
                                                                    "title": "Cargo for Shipping Personal things to Home Country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Cargo_for_shipping_personal_belongings_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 37,
                                                                    "metaInfo": "Cover up to AED 7,500",
                                                                    "title": "Flying mortal remains to home country",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Flying_mortal_remains_to_home_country.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 38,
                                                                    "metaInfo": "Covered",
                                                                    "title": "Second medical opinion",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Second_medical_opinion.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 30,
                                                                    "metaInfo": "(3,500 Per month up to a maximum of 3 months) up to AED 10,500",
                                                                    "title": "Essential cash due to involuntary loss of employment",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_cash_due_to_involuntary_loss_of_employment.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 31,
                                                                    "metaInfo": "Cover up to AED 220,000",
                                                                    "title": "Accidental Death Benefit",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Benefit_upon_Accidental_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 32,
                                                                    "metaInfo": "(12,000 Per month up to a maximum of 3 months) – up to AED 36,000",
                                                                    "title": "House Rent",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/House_rent.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 33,
                                                                    "metaInfo": "(2,500 per child per month up to a max of 3 months, max 3 children) – up to AED 7,500",
                                                                    "title": "School Fees",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/School_fees.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 34,
                                                                    "metaInfo": "(4,000 Per month up to a maximum of 3 months) – up to AED 12,000",
                                                                    "title": "Utility Bills",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Utility_bills.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                },
                                                                {
                                                                    "id": 35,
                                                                    "metaInfo": "(4,000 Per month up to a maximum of 3 months) – up to AED 12,000",
                                                                    "title": "Essential Cash Due to Death",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_Cash_Due_to_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 6
                                                                    }
                                                                }
                                                            ],
                                                            "limitations": [],
                                                            "coupons": []
                                                        },
                                                        "title": "AED 1,020.60 (incl. VAT)",
                                                        "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/logos/Logo_rsa_filled.png",
                                                        "brandCode": "RSA"
                                                    },
                                                    {
                                                        "id": 19,
                                                        "metaInfo": "Job Loss - up to AED 13,500;House Rent - up to AED 105,000;School Fees - up to AED 31,500 per child;Lumpsum upon Accidental Death - AED 300,000",
                                                        "variantCode": "PLATINUM",
                                                        "product": {
                                                            "id": 9
                                                        },
                                                        "otherProperties": {
                                                            "id": 7,
                                                            "variant": {
                                                                "id": 19
                                                            },
                                                            "benefits": [
                                                                {
                                                                    "id": 39,
                                                                    "metaInfo": "(4,500 Per month up to a maximum of 3 months) up to AED 13,500",
                                                                    "title": "Essential cash due to involuntary loss of employment",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_cash_due_to_involuntary_loss_of_employment.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 40,
                                                                    "metaInfo": "Cover up to AED 300,000",
                                                                    "title": "Accidental Death Benefit",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Benefit_upon_Accidental_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 41,
                                                                    "metaInfo": "(35,000 Per month up to a maximum of 3 months) – up to AED 105,000",
                                                                    "title": "House Rent",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/House_rent.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 42,
                                                                    "metaInfo": "(10,500 per child per month up to a max of 3 months, max 3 children) – up to AED 31,500",
                                                                    "title": "School Fees",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/School_fees.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 43,
                                                                    "metaInfo": "(11,000 Per month up to a maximum of 3 months) – up to AED 33,000",
                                                                    "title": "Utility Bills",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Utility_bills.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 44,
                                                                    "metaInfo": "(11,000 Per month up to a maximum of 3 months) – up to AED 33,000",
                                                                    "title": "Essential Cash Due to Death",
                                                                    "logoUrl": "https://bankfab.static.uat.turtlefin.com/files/static/icons/Essential_Cash_Due_to_Death.png",
                                                                    "otherProperties": {
                                                                        "id": 7
                                                                    }
                                                                },
                                                                {
                                                                    "id": 45,
[...]
